<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="logo" width="100" height="100">
                </div>
                <h1 class="text-center">Register here</h1>

               <form>
                   <!-- username -->
                <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>User name</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    <mat-hint>Enter username here</mat-hint>
                  </mat-form-field>

                  <!-- password -->
                  <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>User password</mat-label>
                    <input type="password" matInput placeholder="Placeholder">
                    
                    <mat-hint>Enter password here</mat-hint>
                  </mat-form-field>

                  <!-- firstname -->
                  <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>User first name</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    <mat-hint>Enter first name here</mat-hint>
                  </mat-form-field>

                  <!-- lastname -->
                  <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>User last name</mat-label>
                    <input matInput placeholder="Placeholder">
                    
                    <mat-hint>Enter last name here</mat-hint>
                  </mat-form-field>

                  <!-- email -->
                  <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>User email</mat-label>
                    <input type="email" matInput placeholder="Placeholder">
                    
                    <mat-hint>Enter email here</mat-hint>
                  </mat-form-field>

                  <!-- phone number -->
                  <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>User phone number</mat-label>
                    <input type="number" matInput placeholder="Placeholder">
                    
                    <mat-hint>Enter phone number here</mat-hint>
                  </mat-form-field>

                  <div class="container text-center">
                      <button mat-raised-button color="primary">Register</button>
                      <button style="margin-left: 20px;" mat-raised-button color="accent">Register</button>
                  </div>
               </form>
            </div>

        </div>
    </div>
</div>