<div class="container text-center mt20 mb20">
    <button mat-raised-button color="primary"
    routerLink="/admin/add-categories">Add New Category</button>
</div>

<mat-card>
    
   
    <mat-list>
        <div mat-subheader>
            All categories
        </div>



        <mat-list-item *ngFor="let c of categories"> 
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{c.title}}</div>
            <div mat-line>{{c.description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>


</mat-card>