<mat-card>
    <h1>Add New Category</h1>

    <mat-card-content>
       <div class="bootstrap-wrapper">
           <div class="row">
               <div class="col-md-8 offset-md-1">
                <form (ngSubmit)="formSubmit()">
                  
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input
                        required
                        [(ngModel)]="category.title"
                        type="text" name="title" matInput
                        autofocus
                        placeholder="Enter Title"/>
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea
                        required
                        [(ngModel)]="category.description"
                         name="description" matInput
                        placeholder="Enter Category description"
                        rows="15"></textarea>
                    </mat-form-field>
                    <div class="container text-center mt20">

                        <button type="submit" mat-raised-button color="accent">Add</button>
                        
                     
                    </div>
                </form>
               </div>
           </div>
       </div>
    </mat-card-content>
</mat-card>
