<h1>Question of {{qtitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-card *ngFor="let q of question; let i=index">
                <mat-card-content>
                    <b>Q. {{i+1}} )</b>  <span class="ml20" [innerHTML]="q.content"></span>
               
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                               <b>1). </b> {{q.option1}}
                            </div>

                            <div class="col-md-6">
                                <b>2). </b> {{q.option2}}
                            </div>

                            <div class="col-md-6">
                                <b>3). </b>  {{q.option3}}
                            </div>

                            <div class="col-md-6">
                                <b>4). </b>  {{q.option4}}
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                       
                    </div>

                    <b class="mt20">Correct Answer: </b>{{q.answer}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
