<div class="bootstrap-wrapper">
    <div class="container-fluid">

        <div class="row" *ngIf="quizzess">

            <div class="col-md-4" *ngFor="let q of quizzess">

                <mat-card class="mt20">
                    <mat-card-header>

                        <mat-icon mat-card-avatar>quiz</mat-icon>

                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>

                    <!-- show only 1 line if content greter then after three line "truncate"..... -->
                    <p class="truncate">{{q.description}}</p>

                    <mat-card-content>

                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button color="primary">
                            View
                        </button>

                        <button mat-raised-button color="primary">
                            Start
                        </button>

                        <button mat-stroked-button color="primary">
                           M.M : {{q.maxMax}}
                        </button>

                        <button mat-stroked-button color="primary">
                            Q. {{q.numberOfQuestion}}
                        </button>
                    </mat-card-actions>

                </mat-card>


            </div>

            <div class="col-md-12 mt20" *ngIf="quizzess.length == 0">
                <mat-card>
                    <mat-card-content>
                        <h1>No data in this category
                           
                        </h1>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>


    </div>
</div>