<mat-card>
    <mat-action-list>
        <div mat-subheader>Categories</div>

      

        <button mat-list-item routerLink="/user-dashboard/0">
            <mat-icon mat-list-icon>group</mat-icon>All Categories
        </button>

        <button mat-list-item
        [routerLink]="'/user-dashboard/'+c.cid"
        *ngFor="let c of categories" routerLink="'/user-dashboard/'c.cid">
            <mat-icon mat-list-icon>quiz</mat-icon>{{c.title}}
        </button>
        

       
       

    </mat-action-list>
   
</mat-card>
