<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>

        <button mat-list-item routerLink="/user-dashboard/">
            <mat-icon mat-list-icon>home</mat-icon> Home
        </button>

        <button mat-list-item >
            <mat-icon mat-list-icon>account_circle</mat-icon>All Categories
        </button>

        <button mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon>quiz</mat-icon>{{c.title}}
        </button>
        

       


    </mat-action-list>
   
</mat-card>
